<div class="c">
    <form [formGroup]="formulario" >
        <div class="container">
            <label for="femail">Correo Electronico: </label>
            <input 
            formControlName="correo"
            type="email" 
            id="femail"
            (click)="borrar()"
            >
            <button (click)="verificar()">Verificar</button>
        </div>

        <div class="mensaje">
            <small *ngIf="valido">
              El correo es correcto
            </small>
            <small *ngIf="invalido">
              El correo es invalido
            </small>
          </div>
    </form>
</div>