.c{
    position : absolute;
	width : 100%;
	height : 100%;
    background-image: linear-gradient(to top, #b02b8a 0%, #c5dc99 100%);
}

.container{
    margin-top: 10%;
    font-size: 20px;
}

label{
    padding-left: 30px;
}


input{
    width: 25%;
    height: 30px;
    font-size: 17px;
    margin: 20px;
}

button{
    padding: 6px;
    font-size: 20px;
    border-radius: .5em;
    border: 2px solid rosybrown;
}

.mensaje{
    border-radius: .5em;
    width: 40%;
    margin: 20px;
    font-size: 24px;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

