.invalid{
  color: red;
}

.valid{
  color: green;
}


div{
  
  float: left;
  width: 45%;
  padding: 40px;
  background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
}

fieldset{
  padding: 50px;
  font-size: 25px;
}

label{
  padding: 10px;
  font-size:   20px;
}

.container{
 width: 90%;
 padding-bottom: 279px;
 padding-right: 160px;
}


button{
  padding: 10px;
  width: 20%;
  border-radius: .5em;
  border: 2px solid rgb(128, 189, 16);
  font-size: 20px;
}