<div class="container">
  <form [formGroup]="forma" (ngSubmit)="guardar()">
    <div >
      <fieldset>
        <legend>Pregunta</legend>
        <h3>1.Austed le gusta las peliculas de terror?</h3>
        <input 
        formControlName="opcion1"
        type="radio" 
        id="1p1"
        value="p11"
        >
        <label for="1p1">No mucho</label>
        <input 
        formControlName="opcion1"
        type="radio" 
        id="1p2"
        value="p12"
        >
        <label for="1p2">Aveces</label>
        <input 
        formControlName="opcion1"
        type="radio" 
        id="1p3"
        value="p13">
        <label for="1p3">Siempre</label>
      </fieldset>
    </div>
    <div >
      <fieldset>
        <legend>Pregunta</legend>
        <h3>2.Que color de bolígrafo usa?</h3>
        <input
        formControlName="opcion2"
        type="radio" 
        id="2p1"
        value="p22">
        <label for="p2p1">Rojo</label>
        <input 
        formControlName="opcion2"
        type="radio" 
        id="2p2"
        value="p23">
        <label for="2p2">Azul</label>
        <input 
        formControlName="opcion2"
        type="radio" 
        id="2p3"
        value="p24">
        <label for="2p3">Negro</label>
        <input
        formControlName="opcion2"
        type="radio" 
        id="2p4"
        value="p25">
        <label for="2p4">Ninguno</label>
      </fieldset>
    </div>
    <div >
      <fieldset>
        <legend>Pregunta</legend>
        <h3>3.De que color es el caballo blanco de Napoleón?</h3>
        <input 
        formControlName="opcion3"
        type="radio" 
        id="3p1"
        value="p33">
        <label for="3p1">Negro</label>
        <input 
        formControlName="opcion3"
        type="radio" 
        id="3p2"
        value="p34">
      
        <label for="3p2">zul</label>
        <input 
        formControlName="opcion3"
        type="radio" 
        id="3p3"
        value="p35">
    
        <label for="3p3">Café</label>
        <input 
        formControlName="opcion3"
        type="radio" 
        id="3p4"
        value="p36">
        
        <label for="3p4">Blanco</label>
      </fieldset>
      <!---------->
    </div>
    <div >
      <fieldset>
        <legend>Pregunta</legend>
        <h3>4.Que es mas pesado 1 kilo de plumas o 1 kilo de oro?</h3>
        <input 
        formControlName="opcion4"
        type="radio" 
        id="4p1"
        value="p44">
        <label for="4p1">1 kilo de Pumas</label>
        <input 
        formControlName="opcion4"
        type="radio" 
        id="4p2"
        value="p45">
        
        <label for="4p2">1 kilo de Oro</label>
        <input 
        formControlName="opcion4"
        type="radio" 
        id="4p3"
        value="p46">
        <label for="4p3">Ninguno</label>
        <input 
        formControlName="opcion4"
        type="radio" 
        id="4p4"
        value="p47">
        <label for="4p4">Son iguales</label>
      </fieldset>
    </div>
    <div >
      <fieldset>
        <legend>Pregunta</legend>
        <h3>5.Cuantos dedos tiene una gallina en su pata?</h3>
        <input 
        formControlName="opcion5"
        type="radio" 
        id="5p1"
        value="p55">
        <label for="5p1">3 Dedos</label>
        <input 
        formControlName="opcion5"
        type="radio" 
        id="5p2">
        <label for="5p2">2 Dedos</label>
        <input 
        formControlName="opcion5"
        type="radio" 
        id="5p3"
        value="p57"
        >
        <label for="5p3">4 Dedos</label>
      </fieldset>
    </div>
    <div >
     <label for="cod">Usted acepta que esta respondiendo con sinceridad las anteriores preguntas</label>
      <input 
      formControlName="check"
      type="checkbox" 
      id="cod"
      #check
      (click)="onChange()"
      >
    </div>

    <div class="row">
      
        <!--Se pone corchetes porqu se traera o se ejecutara algo del component.ts-->
        <button 
        type="submit" 
        class="btn" 
        >Enviar</button>
  
    </div>
    <div *ngIf="submitted && f['check'].errors" class="invalid">Aceptar el concentimiento de veracidad es requerido </div>
    <div *ngIf="enviar" class="valid">Formulario llenado correctamente </div>
    

  </form>
</div>
