<div class=" msg">
  <p>
    Primer:  {{ msg1 }}
  </p>
  <p>
    Segundo: {{ msg2 }}
  </p>
  <p>
    Tercer: {{ msg3 }}
  </p>
  <p>
    Cuarto: {{ msg4 }}
  </p>
  <p>
    Quinto: {{ msg5 }}
  </p>
</div>