

p{
  color: rgb(21, 0, 0);
  margin: 40px;
}



.msg {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  position : absolute;
	width : 100%;
	height : 100%;
  background-color: aqua;
  font-size: 25px;
}