<app-hijo
(msg1)="obtenerMensaje($event)"
(msg2)="obtenerSegundo($event)"
(msg3)="obtenerTercer($event)"
(msg4)="obtenerCuarto($event)"
(msg5)="obtenerQuinto($event)"
>
</app-hijo>

<div class="cont">
  <div class="c">
    <h3> OutputMsg: {{ mensajePadre }}</h3>
  </div>
  <div class="c">
    <h3>OutputMsg: {{ SecondMessage }}</h3>
  </div>
  <div class="c">
    <h3>  OutputMsg: {{ thirdMessage }}</h3>
  </div>
  <div class="c">
    <h3> OutputMsg: {{ fourthMessage }}</h3>
  </div>
  <div class="c">
    <h3> OutputMsg: {{ fifthMessage }}</h3>
  </div>
</div>