/* .hola{
  display: flex;
  justify-content: center;
} */

.container{
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.row {
  padding-top: 10px;
}


.col-5 {
  width: 15%;
  margin-top: 6px;
  margin-bottom: 6px;
}


.txtbox {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 6px;
}

.alinea-btn{
  margin-left: 5%;
  display: block;
}

.btn {
  width: 10%;
  padding: 12px;
  cursor: pointer;
  background-color: rgb(63, 149, 219);
  color: aliceblue;
  font-weight: bold;
  border-radius: 10%;

}


.is-invalid {
  border: 3px solid #ff0000a6;
}

.text-danger{
  display: block;
  padding-top: 2px;
  color: red;
}